# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Application specific
config.json
history.log

# Build files
build/
dist/
*.spec
Output/
Audify_App.exe

# Compilation scripts
build_exe.bat
installer.iss
version_info.txt
